#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0px;
       margin-right: auto;
       margin-bottom: 0px;
       margin-left: auto;
}
